.c-col {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  padding: 40px;
}

.c-p1 {
  text-align: left;
  font-size: x-large;
  font-weight: 400;
}

.c-p2 {
  font-size: 70px;
  font-weight: 300;
  color: green;
}

.campus-visit {
  color: green;
  margin-top: 20px;
  padding-bottom: 0.25rem;
  display: flex;
  width: 150px;
  font-weight: 700;
  border-bottom: 0.25rem solid #275d38;
  text-decoration: none;
}

.c-photo {
  display: flex;
  width: 100%;
  padding: 30px;
  justify-content: right;
  gap: 20px;
}
.c-img {
  width: 15%;
  height: 200px;
}

.cam-main {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.c-box2 {
  display: flex;
  width: 100%;
  height: 500px;
}

.cb2-in1 {
  width: 65%;
  height: 100%;
  background: url(../../../../public/images/camb.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.cb2-in2 {
  width: 35%;
  height: 100%;
  display: flex;
  padding: 20px;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: aqua;
  gap: 30px;
}
.cb2-in2 p {
  font-size: large;
  font-weight: 600;
}

.c-box3 {
  display: flex;
  width: 100%;
  height: 500px;
}

.cb3-in1 {
  display: flex;
  width: 75%;
  height: 500px;
  padding: 30px 60px;
  flex-direction: column;
  gap: 30px;
}

.cb3-in2 {
  display: flex;
  width: 25%;
  height: 400px;

  padding: 30px 0px;
}

.cb3-imgbox {
  display: flex;
  width: 100%;
  height: 300px;
  gap: 10px;
}

.cb3-inner {
  display: flex;
  flex-direction: column;
  width: 33%;
  height: 280px;
  text-align: left;
  background-color: rgba(212, 207, 207, 0.596);
}
.cb3-img {
  width: 100%;
  height: 150px;
}

.cb3-p1 {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  padding-right: 30px;
  font-size: large;
  font-weight: 600;
  border: 1.5px solid black;
  width: max-content;
}
.cb3-para {
  font-size: x-large;
  font-weight: 600;
  text-align: left;
  color: green;
}

.cb3-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 230px;
  height: 55px;
  font-size: small;
  font-weight: 600;
  align-self: center;
}
.cb3-btn:hover {
  background-color: #275d38;
  color: white;
}

.cb3-Link {
  color: green;
  font-size: small;
  font-weight: 600;
  margin-left: 10px;
}
